.buttons-row .button {
    margin-left: 10px;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
}

.content-block {
    margin: 10px 0;
    padding: 0 16px;
    box-sizing: border-box;
}

.soften {
	opacity: 0.1;
}